  .contact-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  h1 {
    color: #333;
    font-size: 3em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }



body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.tss_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56.25vw; /* 16:9 aspect ratio (9/16 * 100) */
    max-height: 100vh; /* Set a maximum height if needed */
    background-color: #3498db;
    overflow: hidden;
}

.tss_hero-image {
    width: 100%;
    height: auto;
}

.join_form {
    padding: 20px;
    background-color: #fff; /* Set your desired background color for the form */
    text-align: center;
}

.join_image {
    text-align: center;
}

.join_image-content {
    max-width: 100%;
    height: auto;
    background-color: #f49738; /* Set the background color to match the image */
}